body {
	font: 1rem Calibri, Arial, sans-serif;
	padding: 15px;
}
.snippet_preview {
	position: relative;
	width: 100%;
	margin: 20px auto;
	background: white;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.snippet_preview .snippet_title {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 130%;
    display: block;
    border-bottom: 1px solid #ccc;
}
.snippet_preview-tips {
	padding: 20px 40px;
	text-align: left;
}
.snippet_preview-tips p {
	margin: 0.3em 0;
	line-height: 1.4;
	font-size: 13px;
}
.snippet_preview-message--success,
.snippet_preview-message--warning,
.snippet_preview-message--danger {
	border: 4px solid transparent;
	border-radius: 100%;
	width: 5px;
	height: 5px;
	display: inline-block;
	margin-right: 5px;
}
.snippet_preview-message--success {
	border-color: #44C53C;
	background-color: #44C53C;
}
.snippet_preview-message--warning {
	border-color: #FFD400;
	background-color: #FFD400;
}
.snippet_preview-message--danger {
	border-color: #D10000;
	background-color: #D10000;
}